.freatures {
    background-color: #F4F7FA;
  }
  
  .freatures .image img {
    width: 100%;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
    .freatures .content {
      padding-left: 70px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .freatures .content {
      margin-top: 40px;
    }
  }
  
  @media (max-width: 767px) {
    .freatures .content {
      margin-top: 40px;
    }
  }
  
  .freatures .content .heading {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 70px;
    line-height: 45px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .freatures .content .heading {
      font-size: 28px;
      line-height: 42px;
    }
  }
  
  @media (max-width: 767px) {
    .freatures .content .heading {
      font-size: 22px;
      line-height: 38px;
    }
  }
  
  .freatures .content .heading span {
    color: #2ed06e;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  
  .freatures .content .single-feature {
    position: relative;
    padding-left: 100px;
    margin-bottom: 50px;
  }
  
  .freatures .content .single-feature:last-child {
    margin: 0;
  }
  
  .freatures .content .single-feature .f-icon {
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    background-color: #2ed06e;
    border-radius: 50%;
    position: absolute;
    left: 0;
    font-size: 28px;
    top: 0;
  }
  
  .freatures .content .single-feature h4 {
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin: 0px;
    color: #081828;
    font-family: 'Spartan', sans-serif;
  }
  
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
  }
  
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 25px;
  }
  
  h5 {
    font-size: 20px;
  }
  
  h6 {
    font-size: 16px;
  }
  
  ul,
  ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  